/* ========================== Storing variables to call upon later =========================*/
:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-grey: hsl(252, 16%, 65%);
    --color-transparent: hsla(9, 100%, 64%, 0);
    --color-primary: hsl(58, 36%, 58%);
    --color-secondary: #2a2a2a;
    --color-error: hsl(0, 95%, 65%);
    --color-black: hsl (252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --button-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

}
/* ================== General Styling ==================*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    color: var(--color-secondary);
    background: var(--color-light);
    overflow: auto;
    }

/*======================================= Styling Navbar ========================================*/
.NavContainer {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    position: sticky;
}

nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .NavContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#NavLi {
    float: left;
}

#NavLi a {
    display: block;
    color: var(--color-secondary);
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: var(--color-primary);
    
}

li a.active {
    color: var(--color-light);
    background-color: var(--color-primary);
}

/*==================================================== Styling header ==================================*/
header {
    background-image: url(../Image/pexels-wildlittlethingsphoto-696218.jpg) ;
    height: 75vh;
    length: 100%;
    background-size: cover; 
    position: relative; 
}

header h1 {
    color: var(--color-white);
    font-size: 3rem;
    text-align: center;
    padding-top: 20%;
}


/*==================================================== Styling main ==================================*/
.h3Container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

/*======================================= Styling Description Card ========================================*/
.DescriptionCard {
    padding: 75px;
    border-radius: var(--card-border-radius);
    margin: 30px;
    background-color: var(--color-white);
}
/*======================================= End of Description Card ========================================*/


/*======================================= Styling Product Card ========================================*/
.ProductHeader {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.ProductsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--color-white);
    column-gap: 50;
    padding: 100px;
    margin-bottom: 200px;
    length:50%;
    border-radius: var(--card-border-radius);
  }
  .ProductsContainer  .ProductCard {
    background-color: var(--color-secondary);
    padding: 5px;
    text-align: center;
    margin: 10px;
    border-radius: var(--card-border-radius);
  }
  .ProductsContainer  .ProductCard img {
    width: 100%;
    border-radius: var(--card-border-radius);
  }
  

  /*======================================= End of Product Card ========================================*/

/*======================================= Styling Contact Page ========================================*/
.Map {
    height: 75vh;
    length: 100%;
    background-size: cover; 
    position: relative; 
    align-items: left;
}

.Table {
    padding: 75px;
    border-radius: var(--card-border-radius);
    border-color: var(--color-secondary);
    margin: 30px;
    text-align: center;
    width: 100%;
}

/*======================================================== Styling footer =================================*/
footer {
    position: fixed;
    bottom: 0%;
    left:0%;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--color-primary);
    margin-top: 20px;
}

footer p {
    padding: 10px 5px 5px 0px;
}
